/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*header start*/
	.menu ul li a{
		font-size: 20px;
		margin: 5px 0 !important;
		text-align: right;
	}
	/*header end*/
	/*slider start*/
	.slider{
		padding-bottom: 70px;
	}
	.cid{
		bottom: -55px;
	}
	.cid [data-bs-target] {
    width: 13px;
	    height: 13px;}
	    .s_text{
	    	margin-top: 20px;
	    }
	    .s_text h1 {
    font-size: 25px;}

	    .s_icon ul li{
	margin-right: 20px !important;
	
}
.s_icon ul li i {
    font-size: 30px;}
	/*slider end*/

/*feature start*/
        .feature{
        	padding-top: 50px;
        	padding-bottom: 70px;
        }
        .f_single{
        	text-align: center;
        	margin-top: 30px;
        }
        .f_icon{
        	margin-bottom: 15px;
        }
        .text_h1{
        	font-size: 25px;
        }
        .text_p{
        	font-size: 17px;
        }

	/*feature end*/


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*header start*/
	.menu ul li a{
		font-size: 20px;
		margin: 5px 0 !important;
		text-align: right;
	}
	/*header end*/
	/*slider start*/
	.slider{
		padding-bottom: 70px;
	}
	.cid{
		bottom: -55px;
	}
	.cid [data-bs-target] {
    width: 13px;
	    height: 13px;}
	    .s_text{
	    	margin-top: 20px;
	    }
	    .s_icon ul li{
	margin-right: 20px !important;
	
}
.s_icon ul li i {
    font-size: 35px;}
	/*slider end*/
	/*feature start*/
      .feature {
    padding-top: 50px;
    padding-bottom: 70px;
}

	/*feature end*/

	
	



/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header start*/
	.menu ul li a{
		margin: 5px 0 !important;
		text-align: right;
	}
	/*header end*/
	/*slider start*/
	.s_text{
		margin-top: 105px;
	}
	/*slider end*/
	/*feature start*/
	.feature{
		padding-top: 80px;
		padding-bottom: 90px;
	}
	/*feature end*/
	

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	
}